.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
  height: 100px;
}

.container :nth-child(1) {
  background-color: skyblue;
}
.container :nth-child(2) {
  background-color: peru;
}
.container :nth-child(3) {
  background-color: grey;
}
